body {
  background: #aaa583;
}

.container-fluid {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
}

.vis_box {
  flex-flow: column;
}

img {
  max-width: 100%;
  min-width: 50%;
}

.row {
  flex-direction: row;
}

.main_container {
  min-height: 90vh;
  width: 100%;
  font-size: 14pt;
  font-family: "Times New Roman", Times, serif;
  display: flex;
  flex-direction: row;
}

.round_corners {
  border-radius: 1rem;
}

.main_box {
  max-width: 60%;
  max-height: 100%;
  min-height: 70%;
  flex-grow: 1;
  flex-shrink: 1;
  background: white;
  padding: 1rem;
  margin: 1rem;
}

.main_box_img {
  float: left;
}

.grid_block {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.secondary_box {
  flex-direction: column;
}

.secondary_contents {
  height: auto;
  max-height: 65vh;
  flex-grow: 1;
  flex-shrink: 1;
  background: white;
  padding: 1rem;
  margin: 1rem;
}

.active_plot {
  border: darkslategrey;
  border-style: dotted;
  border-width: 2pt;
}

.main_plot {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.main_box_single {
  background: white;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  min-width: 1vw;
}

h2 {
  font-size: 18pt;
}

.grid_img {
  width: 75%;
  margin-left: 2rem;
  margin-right: auto;
}

@media (max-width: 720px) {
  .main_container {
    flex-wrap: wrap;
  }

  .main_box {
    width: auto;
    max-width: none;
  }

  .main_box_single {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .secondary_box .secondary_contents {
    width: auto;
    max-width: auto;
  }
  .grid_block {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .secondary_contents {
    max-height: none;
  }
}
